.header {
    height: 80px;
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 1;
}