@import "./variables";

@mixin text ($fontFamily, $fontSize, $lineHeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $textColor
}

@mixin center($bgSize, $bgPosition, $bgRepeat) {
  background-size: $bgSize;
  background-position: $bgPosition;
  background-repeat: $bgRepeat ;
}